.message-history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-history:nth-child(even) {
  flex-direction: row-reverse;
}

.message {
  padding: 1rem;
  width: 80%;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
}
